.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: rgba(0, 0, 0, 0.02);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Let's do some custom CSS ! */

span {
  color: #555555;
}

.title {
  font-weight: 600;
  font-size: 32px;
  color: #555555;
}

.avatar {
  border-radius: 50%;
}

.repositories_line_color1 {
  background-color: #e3eae5;
  height: 40px;
}

.repositories_line_color2 {
  background-color: #f0f4f1;
  height: 40px;
}

.repoGithubIcon {
  height: 20px;
}

.mb-05 {
  margin-bottom: .17rem!important;
}

.profileCard {
  padding: 10px;
  margin-right: 10px;
  min-width: 90px;
  background-color: #e3eae5;
}
.ProfileCardGreenColor {
  background-color: #c0f1e2;
}
